/*
body {
    text-align: center;
}

div {
    border: 2px solid black;
    width: 700px;
    height: 100px;
    margin: auto;
}
*/

/*
div {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
}
*/

